.content {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        @include heading();
    }

    p {
        @include paragraph;
        margin-bottom: 32px;
    }

    button {
        @include btn;
    }

    @media screen and (max-width: map-get($breakpoints, md)) {
        align-self: center;
        justify-content: flex-start;
        align-items: center;
    }

    @media screen and (max-width: map-get($breakpoints, xs)) {
        width: 100%;
    }
}