@mixin heading() {
    font-size: 42px;
    margin-bottom: 24px;
    line-height: 120%;
}

@mixin paragraph() {
    font-weight: 300;
    line-height: 150%;
}

@mixin btn {
    width: 128px;
    height: 48px;
    border: none;
    border-radius: 32px;
    background-color: #E4C1AE;
    color: white;
    font-weight: 700;
    cursor: pointer;
}