.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(18, 18, 18, .5);

    .alert {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 910px;
        height: 210px;
        background-color: #fff;

        .close {
            position: absolute;
            top: 46px;
            right: 46px;
            height: 12px;
            width: 12px;
            cursor: pointer;

            .vector {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
                height: 2px;
                width: 16px;
                background-color: #000;
                border-radius: 25px;
            }

            .second {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }

        .alert-content {
            margin: 56px 0 0 95px;

            h2 {
                @include heading();
            }

            p {
                @include paragraph();

                strong {
                    font-weight: 700;
                }
            }

            .btn {
                display: none;
                @include btn;
                margin-left: 20px;
                width: 100px;
                height: 32px;

            }

            .show-btn {
                display: inline-block;

                @media screen and (max-width: map-get($breakpoints, sm)) {
                    display: block;
                    margin: 15px auto 0 auto;
                }
            }

            @media screen and (max-width: map-get($breakpoints, sm)) {
                height: 100%;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }

        @media screen and (max-width: map-get($breakpoints, md)) {
            width: 95%;
        }
    }
}

.popup.show {
    display: block;
}