$base-font-size: 16px;
$small-font-size: 14px;

$font-family: 'Roboto', sans-serif;

$max-width: 1440px;

$breakpoints: (
    xs: 500px,
    sm: 600px,
    md: 1000px,
    l: 1200px,
    xl: 1440px
);